h2 {
  font-style: italic;
  text-align: center;
  font-size: 2cm;
  border: 3cm;
  border-style: dashed;
  border-radius: 2cm;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
